@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3 - Zachary Heaton";
}

<img src="img/zachpicture.png" width="200px" />
<br /><br />
I am hoping to learn a bunch of new skills throughout the course of this semester.
Through lots of examples and practice using ASP.NET I'm hoping that my understanding
will improve and that I will feel more confident in my ability to create and work on
a webpage using C# and ASP.NET.

<br /><br />

Jobs that I am interested in after graduation:
<ul>
    <li>Database Administrator</li>
    <li>System Administrator</li>
    <li>Software engineer</li>
</ul>