<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <!--links to bootstrap and my css files-->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/mycss.css" rel="stylesheet" />

    <!-- makes it so that there is an icon for the website-->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <title>@ViewData["Title"]</title>

    <!-- including the js that we want for the site -->
    <script src="~/lib/bootstrap/js/bootstrap.js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
</head>

<body>

    <nav>
        <a asp-controller="Pages" asp-action="Index">Home</a>
        <a asp-controller="Pages" asp-action="GradeCalc">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>

</html>
